<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hms.mapper.StudentMapper">
<update id="batchInsert" useGeneratedKeys="true">
    <if test="students !=null and students.size>0">
        insert into tb_students (`name`,age,home) values
        <foreach collection="students" item="student" separator=",">
            (#{student.name},#{student.age},#{student.home})
        </foreach>
    </if>
</update>
</mapper>